{% extends "index.html" %}
{% load static %}
{% load Products_Discount_Price %}
{% block title %}Product | Shop{% endblock title %}


{% block body%}

    <!-- offcanvas area start -->
    <div class="offcanvas__area mt-5">
        <div class="offcanvas__wrapper">
        <div class="offcanvas__close">
            <button class="offcanvas__close-btn" id="offcanvas__close-btn">
                <i class="fal fa-times"></i>
            </button>
        </div>
        <div class="offcanvas__content">
            <div class="offcanvas__logo mb-40">
                <a href="index.html">
                <img src="{% static 'assets/img/logo/logo-white.png' %}" alt="logo">
                </a>
            </div>
            <div class="offcanvas__search mb-25">
                <form action="#">
                    <input type="text" placeholder="What are you searching for?">
                    <button type="submit" ><i class="far fa-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu fix"></div>
            <div class="offcanvas__action">

            </div>
        </div>
        </div>
    </div>
    <!-- offcanvas area end -->      
    <div class="body-overlay"></div>
    <!-- offcanvas area end -->

    <main class="mt-5">
<!--        &lt;!&ndash; breadcrumb__area-start &ndash;&gt;-->
<!--        <section class="breadcrumb__area box-plr-75">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-xxl-12">-->
<!--                        <div class="breadcrumb__wrapper">-->
<!--                            <nav aria-label="breadcrumb">-->
<!--                                <ol class="breadcrumb">-->
<!--                                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
<!--                                  <li class="breadcrumb-item active" aria-current="page">Shop</li>-->
<!--                                </ol>-->
<!--                              </nav>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--        &lt;!&ndash; breadcrumb__area-end &ndash;&gt;-->

        <!-- shop-area-start -->
        <div class="shop-area mb-20">
            <div class="container">
                <div class="row">

<!---------------------------------------------Filtering Area Start---------------------------------------------------->


                                        {% include "Products\shop\filter.html" %}


<!---------------------------------------------Filtering Area End------------------------------------------------------>

                    <div class="col-xl-9 col-lg-8">
                        <div class="shop-banner mb-30">
                            <div class="banner-image">
                                <img class="banner-l" src="{% static 'assets/img/banner/sl-banner.jpg' %}" alt="">
                                <img class="banner-sm" src="{% static 'assets/img/banner/sl-banner-sm.png' %}" alt="">
                                <div class="banner-content text-center">
                                    <p class="banner-text mb-30">Hurry Up! <br> Free Shipping All Order Over $99</p>
                                    <a href="shop.html" class="st-btn-d b-radius">Discover now</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-lists-top">
                            <div class="product__filter-wrap">
                                <div class="row align-items-center">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="product__filter d-sm-flex align-items-center">
                                            <div class="product__col">
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                      <button class="nav-link active" id="FourCol-tab" data-bs-toggle="tab" data-bs-target="#FourCol" type="button" role="tab" aria-controls="FourCol" aria-selected="true">
                                                        <i class="fal fa-th"></i>
                                                      </button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                      <button class="nav-link" id="FiveCol-tab" data-bs-toggle="tab" data-bs-target="#FiveCol" type="button" role="tab" aria-controls="FiveCol" aria-selected="false">
                                                        <i class="fal fa-list"></i>
                                                      </button>
                                                    </li>
                                                  </ul>
                                            </div>
                                            <div class="product__result pl-60">
                                                <p>Showing 1-20 of 29 relults</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="product__filter-right d-flex align-items-center justify-content-md-end">
                                            <div class="product__sorting product__show-no">
                                                <select>
                                                    <option>10</option>
                                                    <option>20</option>
                                                    <option>30</option>
                                                    <option>40</option>
                                                </select>
                                            </div>
                                            <div class="product__sorting product__show-position ml-20">
                                                <select>
                                                    <option>Latest</option>
                                                    <option>New</option>
                                                    <option>Up comeing</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="productGridTabContent">
                            <div class="tab-pane fade  show active" id="FourCol" role="tabpanel" aria-labelledby="FourCol-tab">
                                <div class="tp-wrapper">
                                    <p class="ajaxLoader">Loding........</p>
                                    <div class="row g-0" id="filteredProducts">
                                        

{% comment %} --------------------------All Shopping Products Start ( Square View )----------------------------------------- {% endcomment %}


                                                {% include "Products\shop\product.html" %}

                                        
{% comment %} --------------------------------All Shopping Products End ( Square View )----------------------------------- {% endcomment %}

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="FiveCol" role="tabpanel" aria-labelledby="FiveCol-tab">
                                <div class="tp-wrapper-2">

{% comment %} <!----------------------------All Shopping Products Start ( List )---------------------------------------> {% endcomment %}
                                    {% if page_obj %}
                                    {% for pro in page_obj %}
                                    
                                     <div class="single-item-pd">
                                        <div class="row align-items-center">
                                            <div class="col-xl-9">
                                                <div class="single-features-item single-features-item-df b-radius mb-20">
                                                    <div class="row  g-0 align-items-center">
                                                        <div class="col-md-4">
                                                            <div class="features-thum">
                                                                <div class="features-product-image w-img">
                                                                    <a href="{{pro.get_absolute_url}}"><img src="{{pro.Image}}" alt=""></a>
                                                                </div>
                                                                <div class="product__offer">
                                                                    <span class="discount">{{pro.Discount}}%</span>
                                                                </div>
                                                                <div class="product-action">
                                                                    <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                                                                        <i class="fal fa-eye"></i>
                                                                        <i class="fal fa-eye"></i>
                                                                    </a>
                                                                    <a href="#" class="icon-box icon-box-1">
                                                                        <i class="fal fa-heart"></i>
                                                                        <i class="fal fa-heart"></i>
                                                                    </a>
                                                                    <a href="#" class="icon-box icon-box-1">
                                                                        <i class="fal fa-layer-group"></i>
                                                                        <i class="fal fa-layer-group"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="product__content product__content-d">
                                                                <h6><a href="{{pro.get_absolute_url}}">{{pro.Product_name | truncatechars:40}}</a></h6>
                                                                <div class="rating mb-5">
                                                                    <ul class="rating-d">
                                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                    </ul>
                                                                    <span>(01 review)</span>
                                                                </div>
                                                                <div class="features-des">
                                                                    <ul>
                                                                        <li><span>{{pro.Product_information | safe }}</span></li>
                                                                        <!-- <li><a href="product-details.html"><i class="fas fa-circle"></i> Bass and Stereo Sound.</a></li>
                                                                        <li><a href="product-details.html"><i class="fas fa-circle"></i> Display with 3088 x 1440 pixels resolution.</a></li>
                                                                        <li><a href="product-details.html"><i class="fas fa-circle"></i> Memory, Storage &amp; SIM: 12GB RAM, 256GB.</a></li>
                                                                        <li><a href="product-details.html"><i class="fas fa-circle"></i> Androi v10.0 Operating system.</a></li> -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3">
                                                <div class="product-stock mb-15">
                                                    <h5>Availability: <span> {{pro.Availability}} in stock</span></h5>
                                                    <h6> products_discount_calculate pro.Price pro.Discount ৳ - <del> {{pro.Price}}৳</del></h6>
                                                </div>
                                                <div class="stock-btn ">
                                                    <a href="{% url 'Add_To_Cart' pro.id %}">

                                                        <button type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                                                            
                                                        </button>

                                                    </a>
                                                    
                                                    <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId">
                                                        Quick View
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    {% endfor %}
                                    
                                    {% endif %}

{% comment %} <!----------------------------------All Shopping Products End ( List )-------------------------------> {% endcomment %}


                                </div>
                            </div>
                        </div>


                        
{% comment %} <!---------------------------------------- Pagination Section Start -------------------------------------------> {% endcomment %}
                                    <!-- {% include "Products\shop\pagination.html" %} -->

                        <!------------------------ For Function Base View Start ---------------------------->
                                    <div class="tp-pagination text-center">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="basic-pagination pt-30 pb-30">
                                                    <nav>
                                                        {% if page_obj.has_other_pages %}
                                                        <ul>
            
                                                            {% if page_obj.has_previous %}
                                                                <li>
                                                                    <a href="?page=1" class="">First</a>
                                                                </li>
                                                                <li>
                                                                    <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                                                </li>
                                                            {% else %}
                                                                <li class="disable"></li>
                                                            {% endif %}
            
            
                                                            {% for i in page_obj.paginator.page_range %}
                                                                {% if page_obj.number == i %}
                                                                    <li>
                                                                        <a class="active">{{i}}</a>
                                                                    </li>
                                                                {% else %}
                                                                    <li class="">
                                                                        <a class="" href="?page={{i}}">{{i}}</a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
            
            
                                                            {% if page_obj.has_next %}
                                                                <li class="">
                                                                    <a class="" href="?page={{ page_obj.next_page_number }}">
                                                                    <i class="fal fa-angle-double-right"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                                                                </li>
                                                            {% else %}
                                                                <li class=" disable"></li>
                                                            {% endif %}
                                                            
                                                        </ul>
                                                        {% endif %}
                                                     </nav>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                        <!------------------------ For Function Base View End ---------------------------->
{% comment %} <!--------------------------------- Pagination Section End ------------------------------------------->{% endcomment %}


                    </div>
                </div>
            </div>
        </div>
        <!-- shop-area-end -->

        <!-- shop modal start -->
        <div class="modal fade" id="productModalIdabc" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered product__modal" role="document">
                <div class="modal-content">
                    <div class="product__modal-wrapper p-relative">
                        <div class="product__modal-close p-absolute">
                            <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                        </div>
                        <div class="product__modal-inner">
                            <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-box">
                                    <div class="tab-content" id="modalTabContent">
                                        <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{% static 'assets/img/quick-view/quick-view-1.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{% static 'assets/img/quick-view/quick-view-2.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{% static 'assets/img/quick-view/quick-view-3.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav4" role="tabpanel" aria-labelledby="nav4-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{% static 'assets/img/quick-view/quick-view-4.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        </div>
                                    <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="nav1-tab" data-bs-toggle="tab" data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1" aria-selected="true">
                                                <img src="{% static 'assets/img/quick-view/quick-nav-1.jpg' %}" alt="">
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav2-tab" data-bs-toggle="tab" data-bs-target="#nav2" type="button" role="tab" aria-controls="nav2" aria-selected="false">
                                            <img src="{% static 'assets/img/quick-view/quick-nav-2.jpg' %}" alt="">
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav3-tab" data-bs-toggle="tab" data-bs-target="#nav3" type="button" role="tab" aria-controls="nav3" aria-selected="false">
                                            <img src="{% static 'assets/img/quick-view/quick-nav-3.jpg' %}" alt="">
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav4-tab" data-bs-toggle="tab" data-bs-target="#nav4" type="button" role="tab" aria-controls="nav4" aria-selected="false">
                                            <img src="{% static 'assets/img/quick-view/quick-nav-4.jpg' %}" alt="">
                                            </button>
                                        </li>
                                        </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-content">
                                    <h4><a href="product-details.html">Samsung C49J89: £875, Debenhams Plus</a></h4>
                                    <div class="product__review d-sm-flex">
                                        <div class="rating rating__shop mb-10 mr-30">
                                        <ul>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        </ul>
                                        </div>
                                        <div class="product__add-review mb-15">
                                        <span>01 review</span>
                                        </div>
                                    </div>
                                    <div class="product__price">
                                        <span>$109.00 – $307.00</span>
                                    </div>
                                    <div class="product__modal-des mt-20 mb-15">
                                        <ul>
                                            <li><a href="#"><i class="fas fa-circle"></i> Bass and Stereo Sound.</a></li>
                                            <li><a href="#"><i class="fas fa-circle"></i> Display with 3088 x 1440 pixels resolution.</a></li>
                                            <li><a href="#"><i class="fas fa-circle"></i> Memory, Storage & SIM: 12GB RAM, 256GB.</a></li>
                                            <li><a href="#"><i class="fas fa-circle"></i> Androi v10.0 Operating system.</a></li>
                                        </ul>
                                    </div>
                                    <div class="product__stock mb-20">
                                        <span class="mr-10">Availability :</span>
                                        <span>1795 in stock</span>
                                    </div>
                                    <div class="product__modal-form">
                                        <form action="#">
                                        <div class="pro-quan-area d-lg-flex align-items-center">
                                            <div class="product-quantity mr-20 mb-25">
                                                <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                            </div>
                                            <div class="pro-cart-btn mb-25">
                                                <button class="cart-btn" type="submit">Add to cart</button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <div class="product__stock mb-30">
                                        <ul>
                                            <li><a href="#">
                                                <span class="sku mr-10">SKU:</span>
                                                <span>Samsung C49J89: £875, Debenhams Plus</span></a>
                                            </li>
                                            <li><a href="#">
                                                <span class="cat mr-10">Categories:</span>
                                                <span>iPhone, Tablets</span></a>
                                            </li>
                                            <li><a href="#">
                                                <span class="tag mr-10">Tags:</span>
                                                <span>Smartphone, Tablets</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop modal end -->
{% comment %} <!------------------------------------- Top Deals Of The Day modal start ------------------------------------> {% endcomment %}
    {% for pro in page_obj %}
        <div class="modal fade" id="productModalId-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered product__modal" role="document">
                <div class="modal-content">
                    <div class="product__modal-wrapper p-relative">
                        <div class="product__modal-close p-absolute">
                            <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                        </div>
                        <div class="product__modal-inner">
                            <div class="row">

                            {% comment %} <!--------------Image Start--------------> {% endcomment %}
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-box">
                                    <div class="tab-content" id="modalTabContent">

                                        <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <a href="{{pro.get_absolute_url}}"><img src="{{pro.Image}}" alt=""></a>
                                            </div>
                                        </div>
                                        {% for img in pro.Product_Images.all %}
                                        <div class="tab-pane fade show" id="nav{{img.id}}" role="tabpanel" aria-labelledby="nav{{img.id}}-tab">
                                            <div class="product__modal-img w-img">
                                                <a href="{{pro.get_absolute_url}}"><img src="{{img.Image_url}}" alt=""></a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                        {% for img in pro.Product_Images.all %}
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav{{img.id}}-tab" data-bs-toggle="tab" data-bs-target="#nav{{img.id}}" type="button" role="tab" aria-controls="nav{{img.id}}" aria-selected="true">
                                                <img src="{{img.Image_url}}" alt="" height="85px" width="85px">
                                            </button>
                                        </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                            {% comment %} <!--------------Image End----------------> {% endcomment %}

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-content">
                                    <h4><a href="{{pro.get_absolute_url}}">{{pro.Product_name}}</a></h4>
                                    <div class="product__review d-sm-flex">
                                        <div class="rating rating__shop mb-10 mr-30">
                                        <ul>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        </ul>
                                        </div>
                                        <div class="product__add-review mb-15">
                                        <span>01 review</span>
                                        </div>
                                    </div>
                                    <div class="product__price">
                                        <span>{% products_discount_calculate pro.Price pro.Discount %}৳- <del>{{pro.Price}}৳</del></span>
                                    </div>
                                    <div class="product__modal-des mt-20 mb-15">
                                        <span>{{pro.Product_information | safe | truncatechars:400}}</span>
<!--                                        <ul>-->
<!--                                            <li><a href="#"><i class="fas fa-circle"></i> </a></li>-->
<!--                                        </ul>-->
                                    </div>
                                    <div class="product__stock mb-20">
                                        <span class="mr-10">Availability :</span>
                                        <span>{{pro.Availability}} in stock</span>
                                    </div>
                                    <div class="product__modal-form">
                                        <form action="#">
                                        <div class="pro-quan-area d-lg-flex align-items-center">
                                            <div class="product-quantity mr-20 mb-25">
                                                <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                            </div>
                                            <div class="pro-cart-btn mb-25">
                                                <button class="cart-btn" type="submit">Add to cart</button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <div class="product__stock mb-30">
                                        <ul>
                                            <li><a href="#">
                                                <span class="sku mr-10">Model:</span>
                                                <span>{{pro.Product_name | truncatechars:40}}</span></a>
                                            </li>
                                            <li><a href="#">
                                                <span class="cat mr-10">Categories:</span>
                                                <span>{{pro.main_category.name}}, {{pro.category.name | truncatechars:40}}</span></a>
                                            </li>
                                            <li><a href="#">
                                                <span class="tag mr-10">Tags:</span>
                                                <span>{{pro.Tags}}</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% comment %} <!--------------------------------Top Deals Of The Day modal end --------------------------------------------> {% endcomment %}

    </main>
{% endblock body%}   
