{% load static %}
<header class="header d-blue-bg">
        <div class="header-top" style="background-color: #0d6efd00; padding: 0px !important; height: 32px !important;">
            <div class="container">
                <div class="header-inner">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-7">
                            <div class="header-inner-start">
                                <div class="header__currency border-right">
                                    <div class="s-name">
                                        <span>Language: </span>
                                    </div>
                                    <select>
                                        <option>English</option>
                                        <option>Deutsch</option>
                                        <option>Français</option>
                                        <option>Espanol</option>
                                    </select>
                                </div>
                                <div class="header__lang border-right">
                                    <div class="s-name">
                                        <span>Currency: </span>
                                    </div>
                                    <select>
                                        <option> USD</option>
                                        <option>EUR</option>
                                        <option>INR</option>
                                        <option>BDT</option>
                                        <option>BGD</option>
                                    </select>
                                </div>
                                <div class="support d-none d-sm-block">
                                    <p>Need Help? <a href="tel:+001123456789">+001 123 456 789</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                            <div class="header-inner-end text-md-end">
                                <div class="ovic-menu-wrapper">
                                    <ul>
                                        <li><a href="{% url 'seller_reg' %}">To Sell Products</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="contact.html">Order Tracking</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="faq.html">FAQs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-mid">
            <div class="container">
                <div class="heade-mid-inner">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                            <div class="header__info">
                                <div class="logo">
                                    <a href="{% url 'home' %}" class="logo-image"><img src="{% static 'assets/img/logo/logo1.svg' %}" alt="logo"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                            <div class="header__search" style="width: 95%;">
                                <form action="">
                                    <div class="header__search-box">
                                        <input class="search-input" type="text" placeholder="I'm shopping for...">
                                        <button class="button" type="submit"><i class="far fa-search"></i></button>
                                    </div>
                                    <div class="header__search-cat">
                                        <select>
                                            <option>All Categories</option>
                                            {% for i in main_cats %}
                                                {% for cat in i.Category.all %}
                                                    <option>{{cat.name}}</option>
                                                {% endfor %}
                                            {% endfor %}                                          
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8">
                            <div class="header-action" style="margin-bottom:26px!important;">
<!------------------------------------------- Account Section start   ---------------------------------------->                                
                                <div class="block-userlink action" >
                                        <div onclick="menuToggle();">
                                            {% if user.is_authenticated %}
                                                <a class="icon-link">
                                                    <i class="flaticon-user"></i>
                                                    <span class="text">
                                                        <span class="sub mb-1">Logout </span>
                                                    {{user.get_full_name}}
                                                </span>
                                                </a>
                                            {% else %}
                                                <a class="icon-link">
                                                    <i class="flaticon-user"></i>
                                                    <span class="text">
                                                        <span class="sub mb-1">Login</span>
                                                    My Account
                                                </span>
                                                </a>
                                            {% endif %}
                                        </div>
                                        
                                        <div class="menu">
                                            <ul class="ul">
                                            {% if user.is_authenticated %}
                                                <li class="li">
                                                    <a href="{% url 'user_profile' %}" class="a">{{user.get_full_name}}</a>
                                                </li>
                                                <li class="li">
                                                    <a href="{% url 'user_logout' %}" class="a">Logout</a>
                                                </li>
                                            {% else %}
                                                <li class="li">
                                                    <a href="{% url 'user_login' %}" class="a">Login</a>
                                                </li>
                                                <li class="li">
                                                    <a href="{% url 'customer_reg' %}" class="a">Customer Registion</a>
                                                </li>
                                                <li class="li">
                                                    <a href="{% url 'Take_Email' %}" class="a">Forget password</a>
                                                </li>
                                            {% endif %}
                                            </ul>
                                        </div>
                                </div>  
<!--------------------------------------------- Account Section End ------------------------------------------->                                
                                <div class="block-wishlist action">
                                        <a class="icon-link" href="wishlist.html">
                                        <i class="flaticon-heart"></i>
                                        <span class="count">0</span>
                                        <span class="text">
                                        <span class="sub">Favorite</span>
                                        My Wishlist </span>
                                        </a>
                                </div>
                                <div class="block-cart action">
                                        <a class="icon-link" href="cart.html">
                                        <i class="flaticon-shopping-bag"></i>
                                        <span class="count">{{cart_count}}</span>
                                        <span class="text">
                                        <span class="sub">Your Cart:</span>
                                        $00.00 </span>
                                        </a>
                                        <div class="cart">
                                            <div class="cart__mini">
                                                <ul>
                                                    <li>
                                                    <div class="cart__title">
                                                        <h4>Your Cart</h4>
                                                        <span>(1 Item in Cart)</span>
                                                    </div>
                                                    </li>
                                                    <li>
                                                    <div class="cart__item d-flex justify-content-between align-items-center">
                                                        <div class="cart__inner d-flex">
                                                        <div class="cart__thumb">
                                                            <a href="product-details.html">
                                                            <img src="{% static 'assets/img/cart/20.jpg' %}" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cart__details">
                                                            <h6><a href="product-details.html"> Samsung C49J89: £875, Debenhams Plus  </a></h6>
                                                            <div class="cart__price">
                                                            <span>$255.00</span>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="cart__del">
                                                            <a href="#"><i class="fal fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                    </li>
                                                    <li>
                                                    <div class="cart__sub d-flex justify-content-between align-items-center">
                                                        <h6>Subtotal</h6>
                                                        <span class="cart__sub-total">$255.00</span>
                                                    </div>
                                                    </li>
                                                    <li>
                                                        <a href="cart.html" class="wc-cart mb-10">View cart</a>
                                                        <a href="checkout.html" class="wc-checkout">Checkout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                </div>                                    
                                    
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-3">
                        <div class="cat__menu-wrapper side-border d-none d-lg-block">
                            <div class="cat-toggle">
                                <button type="button" class="cat-toggle-btn cat-toggle-btn-1"><i class="fal fa-bars"></i> Shop by department</button>
                                <div class="cat__menu">
                                    <nav id="mobile-menu" style="display: block;">
                                        <ul class="main_ul">
                                            {% for i in main_cats %}
                                            <li class="main_li">
                                                <a class="main_a" href="{% url 'products_show' i.id %}">{{i.name}}<i class="far fa-angle-down"></i></a>
                                                <ul class="mega-menu">
                                                    {% for cat in i.Category.all %}
                                                    <li><a href="{% url 'products_show' i.id cat.id %}">{{cat.name}}</a>
                                                        <ul class="mega-item">
                                                            {% for sub_cat in cat.Sub_Category.all %}
                                                                <li><a href="{% url 'products_show' i.id cat.id sub_cat.id %}">{{sub_cat.name}}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% endfor %}
                                            <li><a href="shop.html">Health &amp; Beauty</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-3">
                      <div class="header__bottom-left d-flex d-xl-block align-items-center">
                        <div class="side-menu d-lg-none mr-20">
                          <button type="button" class="side-menu-btn offcanvas-toggle-btn"><i class="fas fa-bars"></i></button>
                        </div>
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="{% url 'home' %}">Home <i class="far fa-angle-down"></i></a>
                                        <ul class="megamenu-1">
                                            <li><a href="index.html">Home Pages</a>
                                                <ul class="mega-item">
                                                    <li><a href="index.html" class="active">Home One</a></li>
                                                    <li><a href="index-2.html">Home Two</a></li>
                                                    <li><a href="index-3.html">Home Three</a></li>
                                                    <li><a href="product-details.html">Shop 3 Column</a></li>
                                                    <li><a href="product-details.html">Shop 4 Column</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="shop.html">Product</a>
                                                <ul class="mega-item">
                                                {% for s in shop %}
                                                    <li><a href="product-details.html">{{s.name}}</a></li>
                                                {% endfor %}    
                                                </ul>
                                            </li>
                                            <li><a href="shop.html">Other Pages</a>
                                                <ul class="mega-item">
                                                    <li><a href="product-details.html">wishlist</a></li>
                                                    <li><a href="product-details.html">Shopping Cart</a></li>
                                                    <li><a href="product-details.html">Checkout</a></li>
                                                    <li><a href="product-details.html">Login</a></li>
                                                    <li><a href="product-details.html">Register</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About Us</a></li>
<!-------------------------------------------Shop Sections Start  ------------------------------------------------>
                                    <li class="has-mega"><a class="">Shop <i class="far fa-angle-down"></i></a>
                                        <div class="mega-menu">
                                            <div class="container container-mega">
                                                <ul>
                                                    {% for s in shop %}
                                                    <li>
                                                        <ul>
                                                        <li class="title"><a href="{% url 'products_show' s.id %}">{{s.name}}</a></li>
                                                        {% for s_c in s.Category.all %}

                                                            <li><a href="{% url 'products_show' s.id s_c.id %}">{{s_c.name}}</a></li>
                                                        {% endfor %}
                                                        </ul>
                                                    </li>
                                                    {% endfor %}
                                    
                                                    <li class="mega-image hover-effect" style="background-image: url({% static 'assets/img/bg/menu-item.jpg' %});">
                                                        <ul>
                                                        <li><a href="shop.html">
                                                            <h4>Top Cameras <br> Bestseller Products</h4>
                                                            <h5>4K</h5>
                                                            <h6>Sale Up To <span>60% Off</span></h6>
                                                        </a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="offer mt-40">
                                                <p><b>30% OFF</b> the shipping of your first order with the code: <b>DUKA-SALE30</b></p>
                                            </div>
                                        </div>
                                    </li>
<!---------------------------------------------Shop Sections End  -------------------------------------------------->

                                    <li><a href="blog.html">Blog <i class="far fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="about.html">Pages <i class="far fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="my-account.html">My Account</a></li>
                                            <li><a href="product-details.html">Product Details</a></li>
                                            <li><a href="faq.html">FAQs pages</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                            <li><a href="404.html">404 Error</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-9">
                        <div class="shopeing-text text-sm-end">
                            <p>Spend $120 more and get free shipping!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>