{% extends "index.html" %}
{% load static %}
{% block title %}Get | New Password{% endblock title %}

{% block body%}
<section style="margin-top: 80px; margin-bottom: 60px;">
    <div class="row">
        <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="image-contain">
                    <img src="{% static 'assets\img\Auth\ForgetPass\pass_set-1.jpg' %}" class="img-fluid" alt="" height="600px" width="600px" style="border-radius: 10px;">
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3 class="text-center h-7">Set Your New Password</h3>
                    </div>
    
                    <div class="input-box" style="margin-top: 20px;">
                        {% if messages %}
                            {% for mess in messages %}
                                {% if mess.tags == 'success' %}
                                    <div class="alert alert-success" role="alert">
                                        {{mess}}
                                    </div>
                                {% elif mess.tags == 'error' %}
                                    <div class="alert alert-danger" role="alert">
                                        {{mess}}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <form class="row g-4" method="POST">
                            {% csrf_token %}
                            <div class="col-12">
                                <div class="form-floating theme-form-floating log-in-form">
                                    <input type="password" class="form-control" id="password" placeholder="New Password" name="password" required>
                                    <label for="password">New Password</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating theme-form-floating log-in-form">
                                    <input type="password" class="form-control" id="c_password" placeholder="Confirm Password" name="c_password" required>
                                    <label for="c_password">Confirm Password</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 justify-content-center" type="submit">Submit</button>
                                <div style="text-align: center; margin-top: 15px; margin-bottom: 15px;" >
                                    <span>To Cancel The Request</span>
                                </div>
                                <a class="btn btn-outline-warning w-100 justify-content-center" href="{% url 'user_login' %}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body%}



{% block css %}
<style>
    .log-in-box {
        background-color: #f8f8f8;
        padding: calc(16px + 34*(100vw - 320px)/1600);
        border-radius: calc(8px + 4*(100vw - 320px)/1600);
    }
</style>
{% endblock css %}