{% extends "index.html" %}
{% load static %}
{% block title %}Get | OTP{% endblock title %}

{% block body%}
<section style="margin-top: 50px; margin-bottom: 50px;">
    <div class="row">
        <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="image-contain">
                    <img src="{% static 'assets\img\Auth\ForgetPass\otp-4.jpg' %}" class="img-fluid" alt="" height="700px" width="700px" style="border-radius: 10px;">
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3 class="text-center h-7" style="margin-top: 20px;">Submit Your OTP Code</h3>
                    </div>
    
                    <div class="input-box">
                            {% if messages %}
                                {% for mess in messages %}
                                    {% if mess.tags == 'success' %}
                                        <div class="alert alert-success" role="alert">
                                            {{mess}}
                                        </div>
                                    {% elif mess.tags == 'error' %}
                                        <div class="alert alert-danger" role="alert">
                                            {{mess}}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        <form class="row g-4" method="POST">
                            {% csrf_token %}
                            <div class="col-12">
                                <div class="form-floating theme-form-floating log-in-form">
                                    <input type="number" class="form-control" id="otp" placeholder="Submit OTP Code" name="otp" required>
                                    <label for="otp">Submit OTP Code</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 justify-content-center" type="submit">Submit</button>
                                <div style="text-align: center; margin-top: 15px; margin-bottom: 15px;" >
                                    <span>To Cancel The Request</span>
                                </div>
                                <a class="btn btn-outline-warning w-100 justify-content-center" href="{% url 'user_login' %}">Cancel</a>
                            </div>
                        </form>

                        <div style="text-align: center; margin-top: 15px; margin-bottom: 15px;" >
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="resend_otp" value="Resend">
                                <span><button class="resend" style="color: red;" type="submit"><b>Resend OTP</b></button></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body%}




{% block css %}
<style>
    .log-in-box {
        background-color: #f8f8f8;
        padding: calc(16px + 34*(100vw - 320px)/1600);
        border-radius: calc(8px + 4*(100vw - 320px)/1600);
    }
    .resend:hover b {
    color: green;
    }
</style>
{% endblock css %}